<%- content_for :head_css do %>
  
<%= stylesheet_link_tag 'admin/libs/jquery-nice-select/nice-select.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/switchery/switchery.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/multiselect/multi-select.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/select2/select2.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/bootstrap-select/bootstrap-select.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<div class="wrapper">
            <div class="container-fluid">

                <ol class="breadcrumb" style="margin-bottom: -10px;">
                    <li class="breadcrumb-item"><a href="/admin/wallet">Wallet</a></li>
                    <li class="breadcrumb-item active">Purchase Credit</li>
                </ol>

                <!-- start page title -->
               <div class="text-center">
                            <i class="fa fa-diamond text-muted"></i>
                            <h3 class="mb-3">Stock Up On Credits</h3>
                            <p class="text-muted">Save money and get free bonus credits when you buy in bulk</p>
                        </div>
                <!-- end page title -->

                <div class="container mt-5">
                  <div class="row justify-content-md-center">
                    <div class="col col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-center mt-3"><i class="fa fa-diamond"></i> 10 Credits</h3>
                                <p class="card-text text-center mb-3">No Bonus</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">£10</li>
                            </ul>
                            <div class="card-body text-center">
                                <button class="btn btn-light">Purchase</button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-3">
                      <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-center mt-3"><i class="fa fa-diamond"></i> 20 Credits</h3>
                                <p class="card-text text-center text-success mb-3">+ 2 Credit Bonus</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">£18</li>
                            </ul>
                            <div class="card-body text-center">
                                <button class="btn btn-light">Purchase</button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-3">
                      <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-center mt-3"><i class="fa fa-diamond"></i> 50 Credits</h3>
                                <p class="card-text text-center text-success mb-3">+ 5 Credit Bonus</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">£45</li>
                            </ul>
                            <div class="card-body text-center">
                                <button class="btn btn-light">Purchase</button>
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-3">
                      <div class="card">
                            <div class="card-body">
                                <h3 class="card-title text-center mt-3"><i class="fa fa-diamond"></i> 100 Credits</h3>
                                <p class="card-text text-center text-success mb-3">+ 10 Credit Bonus</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-center">£90</li>
                            </ul>
                            <div class="card-body text-center">
                                <button class="btn btn-light">Purchase</button>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>

            
                
            </div> <!-- end container -->
       </div><%- content_for :footer_js do %>
  
<%= javascript_include_tag 'admin/libs/jquery-nice-select/jquery.nice-select.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/switchery/switchery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/multiselect/jquery.multi-select.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/select2/select2.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/jquery-mockjax/jquery.mockjax.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/autocomplete/jquery.autocomplete.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-select/bootstrap-select.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-maxlength/bootstrap-maxlength.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/form-advanced.init.js', 'data-turbolinks-track': 'reload' %>
<% end %>