<%- content_for :head_css do %>
  
<%= stylesheet_link_tag 'admin/libs/jquery-nice-select/nice-select.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/switchery/switchery.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/multiselect/multi-select.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/select2/select2.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/bootstrap-select/bootstrap-select.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= stylesheet_link_tag 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.css', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<div class="wrapper">
            <div class="container">

                <!-- start page title -->
                <div class="row">
                    <div class="col-8">
                        <div class="page-title-box">
                            <h4 class="page-title mb-0">Weclome back, Bill</h4>
                            <p class="mb-4">You have <i class="fa fa-diamond" aria-hidden="true"></i> 300 Credits to use in the Collections.</p>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-lg-8 col-xl-8">

                        <div class="card-box">

                            <h5 class="mb-4 text-uppercase">
                                        Your Stats</h5>

                         <div class="row">


                                    <div class="col-md-6">
                                        <a href="/admin/profile3" class="card p-3 outline">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="avatar-sm bg-danger rounded-circle">
                                                        <i class="fe-award font-22 avatar-title text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <div class="text-right">
                                                        <h3 class="text-dark my-1"><span data-plugin="counterup">3</span></h3>
                                                        <p class="text-muted mb-1 text-truncate">Rewards</p>
                                                    </div>
                                                </div>
                                              </div> <!-- end row-->
                                            </a> <!-- end widget-rounded-circle-->
                                        </div> <!-- end col-->

                                    

                                    <div class="col-md-6">
                                        <a href="/admin/profile2" class="card p-3 outline">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="avatar-sm bg-info rounded-circle">
                                                        <i class="mdi mdi-comment-account-outline font-22 avatar-title text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <div class="text-right">
                                                        <h3 class="text-dark my-1"><span data-plugin="counterup">4</span></h3>
                                                        <p class="text-muted mb-1 text-truncate">Recognition</p>
                                                    </div>
                                                </div>
                                              </div> <!-- end row-->
                                            </a> <!-- end widget-rounded-circle-->
                                        </div> <!-- end col-->

                                        <div class="col-md-6">
                                            <a href="/admin/gifted" class="card p-3 mb-1 outline">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <div class="avatar-sm bg-pink rounded-circle">
                                                            <i class="fe-gift font-22 avatar-title text-white"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-10">
                                                        <div class="text-right">
                                                            <h3 class="text-dark my-1"><span data-plugin="counterup">3</span></h3>
                                                            <p class="text-muted mb-1 text-truncate">Gifted Items</p>
                                                        </div>
                                                    </div>
                                                  </div> <!-- end row-->
                                                </a> <!-- end widget-rounded-circle-->
                                        </div> <!-- end col-->

                                        <div class="col-md-6">
                                        <a href="/admin/gifted" class="card p-3 mb-1 outline">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="avatar-sm bg-success rounded-circle">
                                                        <i class="mdi mdi-star-outline font-22 avatar-title text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <div class="text-right">
                                                        <h3 class="text-dark my-1"><span data-plugin="counterup">5</span></h3>
                                                        <p class="text-muted mb-1 text-truncate">Company benefits</p>
                                                    </div>
                                                </div>
                                              </div> <!-- end row-->
                                            </a> <!-- end widget-rounded-circle-->
                                        </div> <!-- end col-->

                                    </div>


                                    </div>


                        <div class="card-box">
                            <h5 class="mb-4 text-uppercase">Latest from the Hub</h5>

                            <div class="row">

                                 <div class="col-md-6">
                                    <a href="/admin/hub" class="card p-3 mb-1 outline">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="media">
                                                    <img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/paul.jpg" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h5 class="m-0">Paul Schulz</h5>
                                                        <p class="text-muted"><small>Product team action · 10 minutes ago</small></p>
                                                        <p class="text-muted mt-2">I've been getting a lot of feedback recently (from insights but also just the general vibe in the office) that people are feeling the stress of all the work...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end row-->
                                    </a> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->

                                <div class="col-md-6">
                                    <a href="/admin/hub" class="card p-3 mb-1 outline">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="media">
                                                    <img class="mr-2 avatar-sm rounded-circle" src="/template-assets/images/users/maddie.jpg" alt="Generic placeholder image">
                                                    <div class="media-body">
                                                        <h5 class="m-0">Maddie Pozlevic</h5>
                                                        <p class="text-muted"><small>Marketing team recognition · 40 minutes ago</small></p>
                                                        <p class="mt-2 text-muted">Just wanted to say a massive shoutout to <strong title="Elsa Avatar" data-plugin="tippy" data-tippy-duration="0">@Elsa</strong>, <strong title="Steve Avatar" data-plugin="tippy" data-tippy-duration="0">@Steve</strong> and <strong title="Paul Avatar" data-plugin="tippy" data-tippy-duration="0">@Paul</strong> for helping out at the event the other day. Seriously good...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> <!-- end row-->
                                    </a> <!-- end widget-rounded-circle-->
                                </div> <!-- end col-->

                            </div>

                        </div>

                        <div class="card-box">
                            <h5 class="mb-4 text-uppercase">Collection recommendations</h5>

                            <div class="row">
                                        <div class="col-sm-6 col-lg-4 mb-4" data-isotope-item="" data-category="Branding">
                                            <a href="#">
                                              <img src="/template-assets/images/products/placeholder.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                                              <h5 class="mt-3">Brand Name </h5>
                                              <div class="text-small text-muted"><i class="fa fa-diamond" aria-hidden="true"></i> 80 Credits</div>
                                            </a>
                                          </div>

                                          <div class="col-sm-6 col-lg-4 mb-4" data-isotope-item="" data-category="Branding">
                                            <a href="#">
                                              <img src="/template-assets/images/products/placeholder.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                                              <h5 class="mt-3">Brand Name <span class="discount float-right">5% Off</span></h5>
                                              <div class="text-small text-muted"><i class="fa fa-diamond" aria-hidden="true"></i> 80 Credits</div>
                                            </a>
                                          </div>

                                          <div class="col-sm-6 col-lg-4 mb-4" data-isotope-item="" data-category="Branding">
                                            <a href="#">
                                              <img src="/template-assets/images/products/placeholder.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                                              <h5 class="mt-3">Brand Name </h5>
                                              <div class="text-small text-muted"><i class="fa fa-diamond" aria-hidden="true"></i> 80 Credits</div>
                                            </a>
                                          </div>

                                          <div class="col-sm-6 col-lg-4 mb-4" data-isotope-item="" data-category="Branding">
                                            <a href="#">
                                              <img src="/template-assets/images/products/placeholder.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                                              <h5 class="mt-3">Brand Name <span class="discount float-right">5% Off</span></h5>
                                              <div class="text-small text-muted"><i class="fa fa-diamond" aria-hidden="true"></i> 80 Credits</div>
                                            </a>
                                          </div>

                                          <div class="col-sm-6 col-lg-4 mb-4" data-isotope-item="" data-category="Branding">
                                            <a href="#">
                                              <img src="/template-assets/images/products/placeholder.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                                              <h5 class="mt-3">Brand Name </h5>
                                              <div class="text-small text-muted"><i class="fa fa-diamond" aria-hidden="true"></i> 80 Credits</div>
                                            </a>
                                          </div>

                                          <div class="col-sm-6 col-lg-4 mb-4" data-isotope-item="" data-category="Branding">
                                            <a href="#">
                                              <img src="/template-assets/images/products/placeholder.jpg" alt="Volkswagen Australia" class="img-fluid rounded mb-0">
                                              <h5 class="mt-3">Brand Name </h5>
                                              <div class="text-small text-muted"><i class="fa fa-diamond" aria-hidden="true"></i> 80 Credits</div>
                                            </a>
                                          </div>                                          

                                        </div>

                        </div>

                        <div class="card-box">
                            <h5 class="mb-4 text-uppercase">Your activity</h5>

                            <ul class="list-unstyled timeline-sm">
                                <li class="timeline-sm-item">
                                    <span class="timeline-sm-date">1 Day Ago</span>
                                    <h5 class="mt-0 mb-1">You <a href="#"> submitted feedback</a> to Paul Schulz</h5>
                                </li>
                                <li class="timeline-sm-item">
                                    <span class="timeline-sm-date">2 Days Ago</span>
                                    <h5 class="mt-0 mb-1">You <a href="#"> recognised</a> Dan Taylor</h5>
                                </li>
                                <li class="timeline-sm-item">
                                    <span class="timeline-sm-date">4 Days Ago</span>
                                    <h5 class="mt-0 mb-1">You purchased <a href="#"> Asos gift Card</a></h5>
                                </li>
                                <li class="timeline-sm-item">
                                    <span class="timeline-sm-date">6 Days Ago</span>
                                   <h5 class="mt-0 mb-1">You received a <a href="#"> shoutout</a> from Paul Schulz</h5>
                                    <p class="text-muted mt-2">Great job the other day on the presentation. Really awesome.</p>
                                </li>
                                <li class="timeline-sm-item">
                                    <span class="timeline-sm-date">10 Days Ago</span>
                                   <h5 class="mt-0 mb-1">You received <a href="#"> 1 day
                                   holiday</a> from Paul Schulz</h5>
                                    <p class="text-muted mt-2">We can see that the mood is pretty low right now. Go and enjoy an extra day to recharge.</p>
                                </li>
                                <li class="timeline-sm-item">
                                    <span class="timeline-sm-date">14 Days Ago</span>
                                    <h5 class="mt-0 mb-1">You downloaded <a href="#"> Apple discount code</a></h5>
                                </li>
                                <li class="timeline-sm-item">
                                    <span class="timeline-sm-date">15 Days Ago</span>
                                    <h5 class="mt-0 mb-1">You liked <a href="#"> team poll</a></h5>
                                </li>
                            </ul>

                        </div>


                                    



                        </div>


                    <div class="col-xl-4">
                       <div class="card-box">
                            <h4 class="header-title mb-3 text-uppercase">To Do</h4>
                            <div class="todoapp">
                                <div class="row">
                                    <div class="col">
                                        <h5 id="todo-message">
<span id="todo-remaining"></span> of <span id="todo-total"></span> remaining</h5>
                                    </div>
                                </div>

                                <ul class="list-group list-group-flush slimscroll todo-list" style="max-height: 200px" id="todo-list"></ul>

                                
                            </div> <!-- .todoapp -->
                        </div> <!-- end card-box-->


                            <div class="card-box">
                                <h4 class="text-uppercase header-title">Have your say</h4>
                                <p class="mt-3">Send us feedback to help make our company a better place to work</p>
                                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#sign-in-modal9">
                                      Send feedback
                                    </button>
                            </div>

                            <br>

                            <div class="card-box">
                                <h4 class="text-uppercase header-title">Recognise a colleague</h4>
                                <p class="mt-3">Time to make a colleague's day!</p>
                                <div class="avatar-group mb-2">
                                                            <a href="javascript: void(0);" class="avatar-group-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Elsa Bacchiolelli">
                                                                <img src="/template-assets/images/users/elsa.jpg" class="rounded-circle avatar-sm" alt="friend">
                                                            </a>
                    
                                                            <a href="javascript: void(0);" class="avatar-group-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Steve Etheridge">
                                                                <img src="/template-assets/images/users/steve.jpg" class="rounded-circle avatar-sm" alt="friend">
                                                            </a>
                    
                                                            <a href="javascript: void(0);" class="avatar-group-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Paul Schulz">
                                                                <img src="/template-assets/images/users/paul.jpg" class="rounded-circle avatar-sm" alt="friend">
                                                            </a>
                    
                                                            <a href="javascript: void(0);" class="avatar-group-item" data-toggle="tooltip" data-placement="top" title="" data-original-title="Maddie Pozlevic">
                                                                <img src="/template-assets/images/users/maddie.jpg" class="rounded-circle avatar-sm" alt="friend">
                                                            </a>
                                                        </div>
                                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#sign-in-modal9">
                                      Recognise someone
                                    </button>
                            </div>

                        </div>
                            


                        

                    </div>
                </div>

               
                
            </div> <!-- end container -->
       </div><%- content_for :footer_js do %>

<script>
function myFunction(x) {
  x.classList.toggle("mdi mdi-heart");
}
</script>

<%= javascript_include_tag 'admin/libs/chart-js/Chart.bundle.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/moment/moment.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/jquery-scrollto/jquery.scrollTo.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/sweetalert2/sweetalert2.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/jquery.chat.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/jquery.todo.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/dashboard-3.init.js', 'data-turbolinks-track': 'reload' %>

<%= javascript_include_tag 'admin/libs/tippy-js/tippy.all.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/jquery-nice-select/jquery.nice-select.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/switchery/switchery.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/multiselect/jquery.multi-select.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/select2/select2.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/jquery-mockjax/jquery.mockjax.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/autocomplete/jquery.autocomplete.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-select/bootstrap-select.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/libs/bootstrap-maxlength/bootstrap-maxlength.min.js', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'admin/js/pages/form-advanced.init.js', 'data-turbolinks-track': 'reload' %>
<% end %>